.slide {

}
.slide-track {
    background: black;
    width: calc(120px * 13);
    animation: scroll 10s linear infinite;
}
@keyframes scroll{ 

    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(calc(120px * 13))
    }

}
